<div id="content">
  <div class="container-fluid">
    <%= render "banner"%>
      <div class="card-description">
        <ul class="nav nav-pills nav-justified">
          <li><a href="home">Home</a></li>
          <li><a href="education">Education</a></li>
          <li class="active"><a href="experiences">Experiences</a></li>
          <li><a href="skills">Skills</a></li>
          <li><a href="languages">Languages</a></li>
          <li><a href="other_abilities">Other Abilities</a></li>
        </ul>
      </div>

      <div class="card-description">
        <table>
          <tr>
            <td class="image"> <%= image_tag("smt.jpg",width: '100', height: '100', alt: 'Smt Logo',) %></td>
            <td>
              <p class="title">November 08 – January 15 : DEMIMPEX / SMT Group (Brussels / Wavre)</p>
            </td>
          </tr>
        </table>
              <p class="subtitle">  SMT is a subsidiary of the SDA group (3,000 employees - turnover: 450 M €) specializing in the export of civil engineering equipment and trucks to Africa.</p>
              <p class="position">Position : Shipping and export Manager</p>
              <ul>
                <li><p>- Import coordination (customs formalities, transit, storage, assembly)</p></li>
                <li><p>- Management of billing for purchase and sale, credit notes.</p></li>
                <li><p>- Management and organization of stock maintenance in Netherland.</p></li>
                <li><p>- Coordination of sea shipments from Europe or Asia to Africa (Congo Brazzaville, Congo DRC, Nigeria, Cameroon, Ivory Coast,...) for a turnover of +/- 25M € / year.</p></li>
                <li><p>- Management of payment terms according to the commercial department and the customers needs : Letter of credit, documentary delivery, etc ....</p></li>
                <li><p>- Resolved customer clearance issues for export.</p></li>
                <li><p>- Development of partnerships with freight forwarders.</p></li>
                <li><p>- Management of the ERP (mainly Front Office).</p></li>
                <li><p>- Creation on the job description and working process for the Machinery Logistic department.</p></li>
              </ul>
      </div>

      <div class="card-description">
        <table>
          <tr>
            <td class="image"> <%= image_tag("vesuvius.png",width: '120', height: '80', alt: 'Vesuvius Logo',) %></td>
            <td>
              <p class="title">June 06- November 08  Vesuvius Systems - Ghlin (Mons)</p>
            </td>
          </tr>
        </table>
              <p class="subtitle">Vesuvius Systems is a subsidiary of the Vesuvius group (11,000 employees - turnover of 1,800 M €) specializing in mechanical systems for flow control of liquid steel and continuous flow control devices.</p>
              <p class="position">Position : Logistic Officer - Projets.</p>
              <ul>
                <li><p>- Shipping documents (Customs Certificates (EUR.1 / ATR) / CO...)</p></li>
                <li><p>- Follow up of dispatch and coordination with the final customer.</p></li>
                <li><p>- Projects Supply Chain management.</p></li>
                <li><p>- Coordination engineering – Purchase - production - packing departments</p></li>
                <li><p>- Preparation of dispatches (RFQs and orders to forwarding companies).</p></li>
                <li><p>- Preparation of packing plans (projects / large spare part orders)</p></li>
                <li><p>- Inbound Logistics</p></li>
              </ul>
      </div>

      <div class="card-description">
        <table>
          <tr>
            <td class="image"> <%= image_tag("Nestle.jpg",width: '100', height: '70', alt: 'Nestlé Logo',) %></td>
            <td>
              <p class="title">April 04 - October 05 : Nestlé Belgilux – Bruxelles.</p>
            </td>
          </tr>
        </table>
        <p class="subtitle">Swiss Food and Drink Company </p>
          <p class="position">Position : Demand and supply planner for Cereals and culinary products :</p>
            <ul>
              <li><p>- Development of sales forecasts.</p></li>
              <li><p>- Stock management.</p></li>
              <li><p>- Coordination of promotional actions.</p></li>
            </ul>
            <p class="position">Position : Assistant Project Manager (CDS and Globe).</p>
            <ul>
              <li><p>- Synchronization of the various computer systems for the implementation of international systems (GLOBE).</p></li>
            </ul>
      </div>

      <div class="card-description">
        <table>
          <tr>
            <td class="image"> <%= image_tag("tyco.png",width: '100', height: '70', alt: 'tyco Logo',) %></td>
            <td>
              <p class="title">Jan – Sept 03 : Tyco Electronics  (TE Connectivity Ltd) – Cergy Pontoise (95).</p>
            </td>
          </tr>
        </table>
          <p class="subtitle"> Designer and Manufacturer of connectivity and sensor components for industry </p>
          <p class="position">Deputy Demand Manager :</p>
          <ul>
            <li><p>- Implementation of specific tools to facilitate the production forecasting. (EXCEL)</p></li>
            <li><p>- Follow up of the forecasts done by the ”automobile department “.(POWER TERM)</p></li>
            <li><p>- Analysis of the customers ’needs.</p></li>
          </ul>
      </div>

      <div class="card-description">
        <table>
          <tr>
            <td class="image"> <%= image_tag("systra.jpg",width: '80', height: '80', alt: 'Systra Logo',) %></td>
            <td>
                    <p class="title">May 98 et December 98 : Internship at Systra –  Orlando (Florida).</p>
            </td>
          </tr>
        </table>
              <p class="subtitle"> International subsidiary of French National Railways (Worldwide Engineering). </p>
              <p>Internship with the aim of putting into practice the feasibility and market studies both in France and abroad</p>
      </div>

      <div class="card-description">
        <table>
          <tr>
            <td class="image"> <%= image_tag("raileurope.png",width: '90', height: '30', alt: 'Rail Europe Logo',) %></td>
            <td>
              <p class="title">June – August 98 : Internship at Rail Europe – New York City.</p>
            </td>
            </tr>
            </table>
            <p class="subtitle"> European subsidiary of SNCF (ticketing and marketing )</p>
            <p>Internship with the aim of discovering the working methods of a company abroad.</p>
      </div>
    <%=render "footer"%>
  </div>
</div>
