<%= render "banner"%>

<div class="card-description">
  <ul class="nav nav-pills nav-justified">
    <li><a href="home">Home</a></li>
    <li class="active"><a href="education">Education</a></li>
    <li><a href="experiences">Experiences</a></li>
    <li><a href="skills">Skills</a></li>
    <li><a href="languages">Languages</a></li>
    <li><a href="other_abilities">Other Abilities</a></li>
  </ul>
</div>


<div class="card-description">
  <table>
    <tr>
      <td class="image"> <%= image_tag("lewagon.png",width: '120', height: '80', alt: 'leWagon Logo',) %></td>
      <td>
        <p class="title">2016 :  Le Wagon Brussels Bacth #45 </p>
        <p class="description">9-week intensive coding bootcamp learning Ruby, HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku and Ruby on Rails. Designed and Implemented a clone of AirBnB and a Rails prototype of the application TRIP-IN www.trip-in.site.</p>
        <ul>
          <li><p>- Programming languages: HTML/ CSS, Ruby, JavaScript, jQuery</p></li>
          <li><p>- Frameworks: Sinatra, Rails</p></li>
          <li><p>- Knowledge of ActiveRecord, SQL, PostgreSQL, git & Github</p></li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<div class="card-description">
  <table>
    <tr>
      <td class="image"> <%= image_tag("escem.png",width: '130', height: '80', alt: 'escem Logo',) %></td>
      <td>
        <p class="title">2003 :  Post Graduate from « Ecole Supérieure de Commerce Et de Management » (ESCEM -  International Business School - Tours-Poitiers / France), </p>
        <p class="description">Specialized in “Logistics -Supply Chain Management ”  (Master’s degree)</p>
        <p>Logistics Management, Supply Chain, Purchasing Management, Information Systems (E-logistics, SAP)</p>
      </td>
    </tr>
  </table>
</div>

<div class="card-description">
  <table>
    <tr>
      <td class="image"> <%= image_tag("bury.png",width: '130', height: '80', alt: 'Bury Sup Logo',) %></td>
      <td>
        <p class="title">2000 :  BTS Commerce International : (equivalent bachelor + 2) </p>
        <p class="description">Graduate in “International Business” , Paris-France . (French BTS, equivalent to the “National Diploma of Business and Technician Education Concil” -BTEC HND- in UK )</p>
      </td>
    </tr>
  </table>
</div>


<div class="card-description">
  <table>
    <tr>
      <td class="image"> <%= image_tag("ndc.png",width: '130', height: '80', alt: 'Notre Dame de la Compassion Logo',) %></td>
      <td>
        <p class="title">1997 :  High School Graduate</p>
        <p class="description">“Trade activity & Communication”, Paris -France</p>
      </td>
    </tr>
  </table>
</div>




